#strigo-widget {
  opacity: 0;
  height: 100vh;
  width: 342px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999999999;
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  transition: -webkit-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;

  -webkit-transform: translate3d(100%, 0, 0), translate3d(-6px, 0, 0);
  transform: translate3d(100%, 0, 0) translate3d(-6px, 0, 0);
  display: flex;

  box-sizing: border-box;

  &.loaded {
    opacity: 1;
  }

  &.slide-in {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .strigo-iframe {
    margin: unset !important;
    position: relative;
    height: 100%;
    width: 100%;
    border: none;
    transition: 1s ease;
  }
  .strigo-widget_small {
    width: 8px;
  }

  &.align-left {
    left: 0;
    order: 1;
    -webkit-transform: translate3d(-100%, 0, 0) translate3d(6px, 0, 0);
    transform: translate3d(-100%, 0, 0) translate3d(6px, 0, 0);
    right: unset;

    &.slide-in {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    .strigo-collapse-div {
      order: 2;
    }
  }

  .strigo-collapse-div {
    width: 2px;
    height: 100%;
    background-color: #ced6de;
    border: none;

    &:hover {
      background-color: #00aec7;
    }

    &.slide-in {
      display: none;
    }
  }
}
